@font-face { font-family: 28Days; src: url('fonts/28_days_later.ttf'); } 
@font-face { font-family: AlexBrush; src: url('fonts/AlexBrush-Regular.ttf'); } 
@font-face { font-family: AllTheRoll; src: url('fonts/AllTheRoll.otf'); } 
@font-face { font-family: BarierSignature; src: url('fonts/BarierSignature.otf'); } 
@font-face { font-family: Baroneys; src: url('fonts/Baroneys-Solid.otf'); } 
@font-face { font-family: Bellyn; src: url('fonts/Bellyn.otf'); } 
@font-face { font-family: CaliforniaSun; src: url('fonts/CaliforniaSun.otf'); } 
@font-face { font-family: Coneria; src: url('fonts/ConeriaScript.ttf'); } 
@font-face { font-family: Dunkelheit; src: url('fonts/Dunkelheit.otf'); } 

@font-face { font-family: EbertaOutline; src: url('fonts/EbertaOutline.ttf'); } 
@font-face { font-family: EbertaRegular; src: url('fonts/EbertaRegular.ttf'); } 
@font-face { font-family: EbertaScript; src: url('fonts/EbertaScript.ttf'); } 

@font-face { font-family: Fifth-Grader; src: url('fonts/Fifth-Grader.ttf'); } 
@font-face { font-family: Finder; src: url('fonts/Finder.otf'); } 
@font-face { font-family: Glycolysis-Regular; src: url('fonts/Glycolysis-Regular.ttf'); }

@font-face { font-family: Fitalia; src: url('fonts/Fitalia.ttf'); }

@font-face { font-family: Architectural; src: url('fonts/Architectural.ttf'); }
