body{
  background-color: rgb(56,56,56);
  margin: 0px;
}

a, a:visited{
  color : gainsboro;
  text-decoration: none;
}

a:hover{
  color:gray;
}

#floatContainer {
  border: none ;
  padding: 1px;
  margin: 10% 15% 10% 15%;
  height: 100%;
  font-size: 100px;
  top : 50px;
  text-align: center;
}

#floatContainer:focus{
  outline: none;
}

.header{
  background-color: rgb(55,60,57);
  color: gainsboro;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
}

.header table{
    padding: 0px;
  margin: 0% 20%;
  height: 100%;
  text-align: center;
  border: none;
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0px;
  font-family: Fitalia;
}

.header table td:hover{
  color :  gray;
    border-bottom: 1px solid lightslategray;
}

